html,
body,
button {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  border: none;
}

.App {
  height: calc(100vh);
  margin: 0 1em;
  max-width: 500px;
}

button {
  border: 0;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.fa-bars {
  font-size: 0.889em;
}

.footer-data-current {
  font-size: 1em;
}

.footer-data-goal {
  font-size: 0.667em;
}

.data {
  align-items: center;
  display: flex;
  height: calc(22.5vh);
  justify-content: center;
}

.data div {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.goal {
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  height: calc(12.5vh);
}

header div {
  width: 50%;
}

.menu {
  text-align: right;
}

.progress-bar {
  transition: all 1s ease;
}

.start {
  align-items: start;
  display: flex;
  height: calc(25vh);
  justify-content: center;
  text-align: center;
}

#svg {
  transform: rotate(-90deg);
}

#svg circle {
  transition: all 1s linear;
}

.timer {
  align-items: center;
  display: flex;
  height: calc(40vh);
  justify-content: center;
}

.timer button {
  font-size: 5.063em;
}

@media screen and (min-width: 500px) {
  .App {
    margin: 0 auto;
  }
}
