html,
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  border: none;
}

.App {
  height: calc(100vh);
  margin: 0;
  max-width: 500px;
}

.App button {
  border: 0;
  background-color: white;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.fa-bars {
  font-size: 0.889em;
}

.footer-data-current {
  font-size: 1em;
}

.footer-data-goal {
  font-size: 0.667em;
}

.data {
  align-items: center;
  display: flex;
  height: calc(22.5vh);
  justify-content: center;
}

.data div {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.goal {
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  height: calc(12.5vh);
  padding: 0 1em;
  z-index: 999;
}

header div {
  width: 50%;
  z-index: 2;
}

.link {
  text-decoration: none;
}

.login-buttons {
  text-align: right;
}

.login-container,
.register-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.menu {
  text-align: right;
}

.menu-button {
  cursor: pointer;
}

nav {
  background-color: gray;
  margin-top: -50%;
  max-width: 500px;
  overflow: hidden;
  position: fixed;
  transition: 1s;
  width: 100%;
  z-index: 0;
}

.nav-active {
  margin-top: 0px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 1em;
}

.password-requirements {
  margin-top: 20px;
}

.password-requirements p {
  font-size: 12px;
  margin: 4px;
}

.password-requirements .invalid {
  color: #f50057;
}

.password-requirements .valid {
  color: green;
}

.progress-bar {
  transition: all 1s ease;
}

#button-margin {
  margin-right: 3px;
}

.start {
  align-items: start;
  display: flex;
  height: calc(25vh);
  justify-content: center;
  text-align: center;
}

#svg {
  transform: rotate(-90deg);
}

#svg circle {
  transition: all 1s linear;
}

.TextField {
  width: 300px;
}

.textfield-container {
  margin-bottom: 0.67em;
}

.timer {
  align-items: center;
  display: flex;
  height: calc(40vh);
  justify-content: center;
}

.timer button {
  font-size: 5.063em;
}

@media screen and (min-width: 500px) {
  .App {
    margin: 0 auto;
  }
}
